@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --ring: 240 5.9% 10%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --ring: 240 4.9% 83.9%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@layer base {
  * {
    @apply border-zinc-200;
  }
}
